<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="5; url = https://bank-management-ni1e.onrender.com/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta >
    <title>logout</title>
    <style>
         body {
            background-color: rgb(205, 206, 207);
        }
        h1{
            padding: auto;
            text-align: center;
            padding-top: 250px;
            color: rgb(0, 213, 255);
        }
        samp{
            padding: auto;
            text-align: center;
            padding-top: 250px;
            color: rgb(183, 29, 29);
            font-weight: bolder;
        }
    </style>
</head>
<body>
    <form action="logout" method="post">
        <h1>Thanks for banking <samp>{{name}}</samp></h1>
    </form>
</body>
</html>