<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="5; url = https://bank-management-ni1e.onrender.com/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta >
    <title>logout</title>
    <style>
        h1{
            padding: auto;
            text-align: center;
            padding-top: 250px;
            color: blue;
        }
    </style>
</head>
<body>
    <h1>Thanks for banking {{name}}</h1>

</body>
</html>